*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #1F2937;
  padding: 10px 50px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top a {
  text-decoration: none;
  font-size: 24px;
  color: #F9FAF8;
}

.header-top ul {
  display: flex;
  list-style: none;
  font: 18px;
  color: #E5E7EB;
}